* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

:root {
	--bg-color: #f1f0cc;
	--secondary-color: #a71d31;
	--font-size: 2.5rem;
	--primary-color: #040303;
	--song-Length: "0:00";
}

svg {
	fill: var(--primary-color);
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: var(--bg-color);
	height: 100vh;
	width: 100vw;
}

.container {
	background-color: var(--primary-color);
	height: 100%;
	width: 100%;
	/* border-radius: 20px; */
	flex-direction: column;
	padding: 20px 0;
}

.audio-controls {
	background-color: var(--bg-color);
	width: 60%;
	border-radius: 20px;
	margin: 10px;
	flex-direction: column;
	padding: 20px;
}

.player {
	height: 70%;
	width: 90%;
}

.img-container {
	height: 15rem;
	width: 15rem;
	border-radius: 20px;
}

.seek-controls {
	height: auto;
	width: 100%;
}

.seek {
	position: relative;
	width: 80%;
	height: 100%;
	margin: 0 4px;
}

span svg {
	color: var(--primary-color);
}

.controls {
	width: 80%;
}

.controls svg {
	cursor: pointer;
}

.seek-bar {
	display: block;
	border-radius: 50px;
	width: 100%;
	height: 3px;
	background-color: var(--primary-color);
}

.seek-ball {
	border: 1px solid var(--primary-color);
	height: 10px;
	width: 10px;
	background-color: var(--bg-color);
	border-radius: 50%;
	position: absolute;
	left: 0px;
}

.song-container {
	height: 50vh;
	width: 60%;
	background-color: var(--bg-color);
	border-radius: 20px;
	padding: 20px;
}

.songitem {
	display: flex;
	background-color: var(--primary-color);
	color: var(--bg-color);
	padding: 10px 25px;
	margin: 5px 0;
	border-radius: 20px;
	font-size: calc(1.5rem);
	justify-content: space-between;
	cursor: pointer;
}

.svg-btn {
	height: var(--font-size);
	width: var(--font-size);
}

@media only screen and (max-width: 768px) {
	.audio-controls {
		width: 90%;
	}
	.song-container {
		width: 90%;
	}
}
