* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Comic Sans MS, Comic Sans;
}

:root {
	--bg-color: #f1f0cc;
	--secondary-color: rgb(167, 29, 49);
	--font-size: 2.5rem;
	--primary-color: #040303;
	--song-Length: "0:00";
}

svg {
	fill: var(--primary-color);
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: var(--primary-color);
	height: 100vh;
	width: 100vw;
}

.container {
	background-color: var(--primary-color);
	height: 100%;
	min-width: 90vw;
	/* border-radius: 20px; */
	flex-direction: column;
	padding: 1.5rem;
}

.bg {
	box-shadow: 0 8px 32px rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
}

.audio-controls {
	background-color: var(--bg-color);
	width: 60%;
	border-radius: 20px;
	margin: 10px;
	flex-direction: column;
	padding: 20px;
}

.player {
	height: 70%;
	width: 90%;
}

.img-container {
	height: 15rem;
	width: auto;
	border-radius: 20px;
}

.rotate {
	border-radius: 50%;
	position: absolute;
	animation: spin 10s linear infinite;
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.seek-controls {
	height: auto;
	width: 100%;
}

.seek {
	position: relative;
	width: 80%;
	height: 100%;
	margin: 0 4px;
	cursor: pointer;
}

span svg {
	color: var(--primary-color);
}

.controls {
	width: 80%;
}

.controls svg {
	cursor: pointer;
	padding: 3px;
	transition: background-color, fill 0.5s ease-out;
}

.seek-bar,
.seeking-bar {
	display: block;
	padding: 5px;
	border-radius: 50px;
	width: 100%;
	height: 3px;
	background-color: var(--primary-color);
}

.seeking-bar {
	position: absolute;
	background-color: var(--secondary-color);
	left: 0px;
	width: 0%;
}

.min-duration,
.max-duration {
	margin: 2px;
	width: 2rem;
}

.seek-ball {
	border: 2px solid var(--primary-color);
	height: 20px;
	width: 20px;
	background-color: var(--bg-color);
	border-radius: 50%;
	left: -1px;
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}

.seek:hover .seek-ball {
	opacity: 100%;
}

.song-name {
	overflow: scroll;
	width: 70%;
}

.song-name::-webkit-scrollbar {
	display: none;
}
.song-container {
	height: 50vh;
	width: 60%;
	background-color: var(--bg-color);
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

.song-scrollable-content {
	padding: 20px;
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

.song-scrollable-content::-webkit-scrollbar {
	display: none;
}

.Current-Playing-Song {
	width: 100%;
	font-size: 1.2rem;
}

.song-container::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	height: 50%;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		#040303b5 100%
	);
	pointer-events: none;
	border-radius: 0 0 20px 20px;
}

.songitem {
	display: flex;
	background-color: var(--primary-color);
	color: var(--bg-color);
	padding: 10px 25px;
	margin: 5px 0;
	border-radius: 20px;
	font-size: calc(1.5rem);
	justify-content: space-between;
	cursor: pointer;
	flex-wrap: wrap;
	transition: background-color, transform 0.4s ease-out;
}

.appear-animation {
	animation: slide-in 1s ease-out 1;
}

@keyframes slide-in {
	0% {
		transform: translateY(200px);
		opacity: 00%;
	}
	100% {
		opacity: 100%;
	}
}

.svg-btn {
	height: var(--font-size);
	width: var(--font-size);
}

@media only screen and (min-width: 992px) {
	.controls svg:hover,
	.controls svg:active {
		background-color: var(--primary-color);
		border-radius: 10px;
		fill: var(--bg-color);
	}

	.songitem:hover {
		background-color: #000000;
		transform: scale(1.04);
	}
}

@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
	.img-container {
		width: 15rem;
	}
	.audio-controls {
		width: 90%;
	}
	.song-container {
		width: 90%;
	}
	.songitem:active {
		background-color: #000000;
		transform: scale(1.04);
	}
	.controls svg:active {
		background-color: var(--primary-color);
		border-radius: 10px;
		fill: var(--bg-color);
	}
}
